---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Astro'>
	<Header />
	<div class="relative">
		<img src="/img/bg-contact.jpg" class="absolute left-0 inset-y-0 object-cover z-20 h-full w-1/3 md:w-1/4 opacity-30 hidden sm:block" alt="">
		<div class="container relative z-30">
			<div class="flex flex-col sm:flex-row">
				<div class="sm:w-1/3 md:w-1/4 pr-4 md:pr-11 xl:pr-16 pt-8 sm:py-10 flex items-center">
					<h1 class="text-3xl sm:text-4xl xl:text-5xl text-brand-orange">Vraag vandaag  nog uw  offerte aan!</h1>
				</div>
				<div class="sm:w-2/3 md:w-3/4 sm:pl-10 xl:pl-14 lg:pr-10 xl:pr-16 pt-6 lg:pt-11 pb-12 lg:pb-16">
					<form>
						<div class="flex gap-1 md:gap-2 mb-5 md:mb-7">
							<img src="/img/icon-lines.svg" class="h-4 md:h-6 mt-1 md:mt-px" alt="">
							<h2 class="text-brand-primary font-medium text-2xl/[24px]">Contacteer ons</h2>
						</div>
						<div class="flex flex-col lg:flex-row gap-4 lg:gap-14">
							<div class="lg:w-1/4 space-y-2 pt-4 lg:pt-14">
								<a href="tel:+32 497 07 89 44" class="flex gap-2 items-center text-sm text-black text-brand-orange transition-colors duration-300">
									<svg class=" border border-brand-primary text-brand-primary h-5 p-[2px] w-5 flex items-center justify-center rounded-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z"></path></svg>
									+32 497 07 89 44
								</a>
								<a href="mailto:hello@dakmaniak.be" class="flex gap-2 items-center text-sm text-black hover:text-brand-orange transition-colors duration-300">
									<svg class=" border border-brand-primary text-brand-primary h-5 p-[2px] w-5 flex items-center justify-center rounded-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z"></path></svg>
									hello@dakmaniak.be
								</a>
								<div class="flex gap-2 items-center text-sm text-black">
									<svg class=" border border-brand-primary text-brand-primary h-5 p-[2px] w-5 flex items-center justify-center rounded-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 20.8995L16.9497 15.9497C19.6834 13.2161 19.6834 8.78392 16.9497 6.05025C14.2161 3.31658 9.78392 3.31658 7.05025 6.05025C4.31658 8.78392 4.31658 13.2161 7.05025 15.9497L12 20.8995ZM12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364L12 23.7279ZM12 13C13.1046 13 14 12.1046 14 11C14 9.89543 13.1046 9 12 9C10.8954 9 10 9.89543 10 11C10 12.1046 10.8954 13 12 13ZM12 15C9.79086 15 8 13.2091 8 11C8 8.79086 9.79086 7 12 7C14.2091 7 16 8.79086 16 11C16 13.2091 14.2091 15 12 15Z"></path></svg>
									Iepersestraat 140 <br/> 8890 Moorslede
								</div>
							</div>
							<div class="lg:w-3/4 pt-4">
								<div class="flex flex-col md:flex-row gap-3 mb-3 md:mb-0 md:gap-10 md:space-y-6 lg:space-y-8">
									<div class="md:w-1/2">
										<span class="text-xs text-black block pb-1">Voornaam*</span>
										<input type="text" class="text-xs text-black border border-brand-primary py-1 px-2 w-full">
									</div>
									<div class="md:w-1/2">
										<span class="text-xs text-black block pb-1">Naam*</span>
										<input type="text" class="text-xs text-black border border-brand-primary py-1 px-2 w-full">
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-3 mb-3 md:mb-0 md:gap-10 md:space-y-6 lg:space-y-8">
									<div class="md:w-1/2">
										<span class="text-xs text-black block pb-1">E-mail*</span>
										<input type="email" class="text-xs text-black border border-brand-primary py-1 px-2 w-full">
									</div>
									<div class="md:w-1/2">
										<span class="text-xs text-black block pb-1">Telefoonnummer*</span>
										<input type="text" class="text-xs text-black border border-brand-primary py-1 px-2 w-full">
									</div>
								</div>
								<div>
									<span class="text-xs text-black block pb-1">Bericht*</span>
									<textarea name="message" id="message" class="text-xs text-black border border-brand-primary py-1 px-2 w-full h-28"></textarea>
								</div>
								<div class="flex justify-between gap-5 items-center pt-2">
									<div>
										<input class="mr-2 border border-gray" type="checkbox">
										<span class="text-xs">
											Ik ga akkoord met de privacy policy.
										</span>
									</div>
									<button class="uppercase font-semibold text-xs text-brand-primary border border-brand-primary rounded-full px-2 py-px hover:text-brand-orange hover:border-brand-orange transition-colors duration-300">VERZENDEN</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
